@charset "UTF-8";
/* CSS Document */


/* SAMLAD TYPOGRAFI */

h1 { /* Huvudrubriker */
  color: white;
  font-family: "bmx-radical", sans-serif;
  font-style:normal;
  font-size: 10vw;
}

h2 { /* Underrubriker eller undertext till huvudrubriker */
  color: #bfa36f;
  font-family: "carta-marina", sans-serif;
  font-size: 4vw;
  margin: 2vw;
}

h3 { /* Undertext eller andra underrubriker till de första underrubrikerna */
  color: #912b28;
  font-family: "carta-marina", sans-serif;
  font-size: 3vw;
  margin: 2vw;
}

h4 { /* Minirubriker så som våra namn */
  color:#E5C53F;
  font-family: "carta-marina", sans-serif;
  font-size: 2vw;
}

p { /* Athelas typsnitt CSS */
  text-align: left;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  color: white;
  }

#merch_underrubrik { /* Underrubrik för merchsidan */
  font-size: 3vw;
  padding-left: 5%;
  padding-right: 5%;
}

#merchpriser { /* Priser under merchprodukterna */
  text-align: center;
  margin-top: -2vh;
}

#titlar { /* ID för jobbtitlar, kontaktsida */
  font-size: 3vw;
}

#rad2 { /* ID för rad 2 för texten på dörren */
  color: #E5C53F;
  font-size: 3vw;
  text-align: center;
}

.filmtext { /* Stycke med text på filmsidan */
  margin: 2vw;
  margin-bottom: 3vh;
}

#startsida { /* Vit text på indexsidan */
  text-align: center;
}

#namntitel { /* Våra namn på kontaktsidan */
  text-align: center;
  font-size: 3vw;
  margin-top: 2vh;
}

#underrubriker { /* Röda underrubriker på slottsidan */
  margin-top: 5vh;
}

#filmtitel { /* H4 underrubriker på filmsidan */
  color: #bfa36f;
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
}

#footertext { /* Hälsningsfras i footern */
  margin-top: 2vh;
}


/* Bakgrund och body */
#myVideo { /* Bakgrundsvideo */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  overflow-x: hidden;
  margin: 0px;
}

/* Gemensam Navigation */
.nav {
  background-color:#5c1c1b;
  text-align: center;
  position: sticky;
  width: 100vw;
  height: 5vh;
  min-height: 4vh;
  max-height: 8vh;
  padding-bottom: 3vh;
  left: 0px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.nav ul li {
  background-color: #5c1c1b;
  text-decoration: none;
  list-style: none;
  padding-right: 4vw;
  padding-left: 4vw;
}

.nav ul li a { /* Carta Marina typsnitt */
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "carta-marina", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
}

.nav a:hover { /* Hoover-effekt på nav */
  text-decoration: underline;
}

/* Gemensam Footer */
.footer {
  display: grid;
  background-color: #5c1c1b;
  padding-top: 2vh;
  padding-bottom: 1vh;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 
  'ikoner logga fragor info'
}

.ikoner { /* Div för facebook, instagram och mail-ikon */
  grid-area: ikoner;
  align-self: center;
  margin-left: 3vw;
}

.ikoner img { /* Bildikonerna för facebook, instagram, mail */
  width: 4vw;
  padding-left: 3vw;
  padding-right: 2vw;
  display: inline;
}

.ikoner a { /* För att ta bort dekorationen som var på länkarna */
  text-decoration: none;
}

.ikoner img:hover {
  opacity: 0.6;
}

.logga { /* Div för Norcopias logga */
  grid-area: logga;
  align-self: center;
}

.logga img { /* Själva bilden på loggan */
  width: 10vw;
  justify-self: center;
}

.fragor { /* Stycke med frågor, som ex. FAQ */
  grid-area: fragor;
  align-self: center;
}

.fragor ul {
  display: block;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  color: white;
  text-align: left;
  list-style: none;
}

.info { /* Div för kontaktinformationen i footern */
  grid-area: info;
  align-self: center;
}

.info ul {
  display: block;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
  color: white;
  text-align: left;
  margin-right: 2vw;
  list-style: none;
}

.info p {
  font-size: 1vw;
  margin-right: 2vw;
}

.info a:hover { /* Hoover-effekt på kontaktinformationen */
  text-decoration: underline;
}

 
.info a {
  text-decoration: none;
  color: white;
}


/* STARTSIDA */

.index /* Övergripande container för hela indexsidan */
{
  display: grid;
}

.container1 { /* Innehålls-container för indexsidan */
  display: grid;
  margin: auto;
  position: relative;
  z-index: -1;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 
  '. | . | . | .'
  'main main main main'
}

.header {
  text-align: center;
  grid-area: header;
  padding-bottom: 5%;
}

.container1 img { /* Bakgrundsbild dörr i containern */
  width: 70vw;
  z-index: -1;
  position: relative;
  margin-bottom: -2%;
  margin-top: -14%;
}

.premiär { /* Text på dörren på indexsidan */
  z-index: 1;
  position: absolute;
  top: 37%;
  text-align: center;
  color: white;
  font-family: "carta-marina", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* RESTEN AV SIDORNA 2-5 */
.restsidor { /* Övergripande container för resterande sidor */
  display: grid;
}

.container2 { /* Innehålls-container för om filmen-sidan */
  display: grid;
  width: 60%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'header header'
  'filmtext filmtext'
  'filmfakta filmbild1'
  'filmbild2 medverkande'
}

.header {
  grid-area: header;
}

.filmtext { /* Första stycket, beskrivande text om filmen */
  grid-area: filmtext;
}

.filmfakta { /* Lista på fakta om filmen */
  grid-area: filmfakta;
  margin: 2vw;
  margin-top: -4vh;
}

.filmfakta ul {
  display: block;
  margin-bottom: 5vh;
  margin: 1vw;
  padding-left: 0;
  background-color: rgba(92, 28, 27, 0.5);
  border-radius: 5px;
}

.filmfakta li {
  padding: 5%;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  color: white;
  list-style: none;
}

.filmbild1 { /* Första blden på filmensidan */
  grid-area: filmbild1;
}

.filmbild1 img {
  width: 25vw;
  margin-left: 2vw;
}

.filmbild2 { /* Andra bilden på fimensidan */
  grid-area: filmbild2;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

.filmbild2 img {
  width: 23vw;
  margin-left: 3vw;
}

 .medverkande { /* Lista på skådespelare i filmen */
  grid-area: medverkande;
  margin-top: -25vh;
  margin-right: 1vw;
 }

 .medverkande ul {
  display: block;
  margin: 2vw;
  padding-left: 0;
  background-color: rgba(92, 28, 27, 0.5);
  border-radius: 5px;
 }

 .medverkande li {
  padding: 5%;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  color: white;
  list-style: none;
 }


.container3 { /* Innehålls-container för Löfstad slott-sidan */
  display: grid;
  width: 60%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'header header'
  'underrubrik1 underrubrik1'
  'axel1 axel1'
  'slottbild slottbild'
  'axel2 axel2'
  'hedvig hedvig'
  'brand1 eldbild'
  'brand2 brand2'
  'emilie emilie'
  'underrubrik2 underrubrik2'
  'cajsa rum13'
  'sjobild rum13'
}

.underrubrik1 { /* Underrubrik för slottets sida */
  grid-area: underrubrik1;
  text-align: center;
}

.axel1 { /* Textstycke om Axel den äldre */
  grid-area: axel1;
  margin-left: 2vw;
  margin-right: 2vw;
}

.slottbild { /* Div för första bild, bild på slottet */
  grid-area: slottbild;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.slottbild img { /* Bilden på slottet */
  display: block;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.brand1 { /* Textstycke om branden */
  grid-area: brand1;
  margin-left: 2vw;
  margin-right: 2vw;
}

.brand2 { /* Andra textstycke om branden */
  grid-area: brand2;
  margin-top: -5%;
  margin-left: 2vw;
  margin-right: 2vw;
}

.eldbild { /* Div för andra bild, bild på en tjej och en låga */
  grid-area: eldbild;
  margin-left: -1vw;
}

.eldbild img { /* Själva bilden på tjejen och lågan */
  width: 20vw;
  margin-top: 12vh;
}

.axel2 { /* Textstycke om Axel den yngre */
  grid-area: axel2;
  margin-left: 2vw;
  margin-right: 2vw;
}

.hedvig { /* Textstycke om Hedvig */
  grid-area: hedvig;
  margin-left: 2vw;
  margin-right: 2vw;
}

.emilie { /* Textstycke om Emilie */
  grid-area: emilie;
  margin-left: 2vw;
  margin-right: 2vw;
}

.underrubrik2 { /* Div för beige underrubrik, spöken på slottet */
  grid-area: underrubrik2;
}

#underrubrik2 { /* ID för beige underrubrik, spöken på slottet */
  margin-top: 10vh;
}

.cajsa { /* Textstycke om Cajsa */
  grid-area: cajsa;
  margin-left: 2vw;
  margin-right: -1vw;
  padding-right: 3vw;
}

.sjobild { /* Div för sjöbild */
  grid-area: sjobild;
}

.sjobild img { /* Själva sjöbilden */
  width: 30vw;
  margin-left: 2vw;
  margin-top: 5vh;
}

.rum13 { /* Textstycke om Rum 13 */
  grid-area: rum13;
  margin-right: 2vw;
  margin-bottom: 3vh;
}


/* Merchsidan */
.container4 { /* Innehållscontainer för merch-sidan */
  display: grid;
  width: 60%;
  height: fit-content;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'header header'
  'bild1 bild2'
  'bild3 bild4'
}

/* Grid-areas på Merch-sidan */
.bild1 { /* Div för hoodie */
  grid-area: bild1;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 10vh;
}

.bild2 { /* Div för mugg */
  grid-area: bild2;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 10vh;
}

.bild3 { /* Div för keps */
  grid-area: bild3;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 10vh;
}

.bild4 { /* Div för totebag */
  grid-area: bild4;
  align-self: center;
  justify-self: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 10vh;
}

.bild1 img { /* Bild för hoodie */
  width: 20vw;
  border-radius: 10px;
}

.bild2 img { /* Bild för mugg */
  width: 20vw;
  border-radius: 10px;
}

.bild3 img { /* Bild för keps */
  width: 20vw;
  border-radius: 10px;
}

.bild4 img { /* Bild för totebag */
  width: 20vw;
  border-radius: 10px;
}

/* KÖPFUNKTION FÖR MERCHSIDA */

 /* Stil för popup-fönstret */
 .popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Stil för popup-innehåll */
.popup-content {
  background-color: #5c1c1b;
  margin: auto;
  padding: 5%;
  border: solid black;
  width: 40%;
}

/* Stil för stäng-knappen (krysset) */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 200%;
  font-weight: bold;
}

/* Hover för stäng-knappen (krysset) */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Stil för köp nu-knappen */
.buyButton {
  background-color: #912B28; 
  border: none;
  color: white;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 2vw;
  margin: 2% 2%;
  cursor: pointer;
  font-family: "athelas", serif;
  margin-right: auto;
  margin-left: auto;
}

/* Hover för köp nu-knappen */
.buyButton:hover {
  background-color:#522120; 
}


/* Stil för input och select element i formuläret */
form input, form select {
display: block; /* Elementen tar upp hela raden */
width: 90%; 
padding: 3%; /* Padding inuti elementen */
margin-bottom: 8%; /* Marginal under varje element */
font-family: "athelas", serif;
}

/* Stil för rubrikerna i formuläret */
form label {
font-family: "athelas", serif; 
font-size: 3vw;
color: white;
}

/* Stil för bekräfta köp-knappen */
button[type="submit"] {
background-color: black;
font-family: "athelas", serif; 
border: none;
color: white;
padding: 4% 8%;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 3vw;
margin: 2% 1%;
cursor: pointer;
}

/* Hover för bekräfta köp-knappen */
button[type="submit"]:hover {
background-color: #888;
}

/* Modal */
.modal {
display: none; /* Dölj modalen som standard */
position: fixed; /* Håll modalen på plats */
z-index: 1; /* Lägg modalen ovanför allt annat */
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; /* Aktivera scroll */
background-color: rgba(0,0,0,0.4); /* Svart bakgrund med lite genomskinlighet */
}

/* Modal-innehåll */
.modal-content {
background-color: #5c1c1b;
margin: 15% auto; /* 15% från toppen och centrerad */
padding: 20px;
border: 1px solid black;
width: 80%; /* Kunde vara mer eller mindre, beroende på skärmstorlek */
font-family: "athelas", serif;
}

/* Texten i modal-innehållet */
.modal-content p {
font-family: "athelas", serif;
color: white;
font-size: 3vw;
}

#tack { /* ID för tacktexten när man har bekräftat sitt köp */
  font-family: "carta-marina", sans-serif;
  font-size: 4vw;
  color: #E5C53F;
}


/* Kontaktsidan */
.container5 { /* Innehålls-container för Om oss-sidan */
  display: grid;
  width: 60%;
  margin: auto;
  padding-bottom: 10%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  'header header'
  'Anna_text Anna_bild'
  'Emma_bild Emma_text'
  'Alexandra_text Alexandra_bild'
}

/* Grid-areas på Om oss-sidan */
.Anna_bild img { /* Bild på Anna */
  grid-area: Anna_bild;
  width: 30vw;
  padding-bottom: 2vh;
}

.Emma_bild img { /* Bild på Emma */
  grid-area: Emma_bild;
  width: 30vw;
  padding-bottom: 5vh;
}

.Alexandra_bild img { /* Bild på Alexandra */
  grid-area: Alexandra_bild;
  width: 30vw;
  padding-bottom: 2vh;
}

.Anna_text { /* Div för kontakttext */
  grid-area: Anna_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Anna_text ul {
  color: white;
  text-align: left;
  padding-left: 0;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  color: white;
}

.Anna_text li {
  list-style: none;
  padding: 2%;
}

#beskrivning { /* Kort beskrivning på våra roller */
  padding-bottom: 3vh;
}

.ikoner_kontakt img { /* Bildikonerna för facebook, instagram, mail */
  width: 5vw;
  padding: 3%;
}

.ikoner_kontakt img:hover {
  opacity: 0.6;
}

.Emma_text { /* Div för kontakttext */
  grid-area: Emma_text;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
  margin-right: 10%;
}

.Emma_text ul {
  color: white;
  text-align: left;
  padding-left: 0;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  color: white;
}

.Emma_text li {
  list-style: none;
  padding: 2%;
}

.Alexandra_text { /* Div för kontakttext */
  grid-area: Alexandra_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Alexandra_text ul {
  color: white;
  text-align: left;
  padding-left: 0;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  color: white;
}

.Alexandra_text li {
  list-style: none;
  padding: 2%;
}

/* FÖR STÖRRE SKÄRMAR, som dator */
@media (min-width: 760px)
{ 

html {
  width: 100%;
}


.hamburger { /* Gör så att hamburgermenyn inte är synlig för storskärm, 701px och större */
  display: none;
}

.bakgrundsdorr_mobil { /* Gör så att bakgrundsbilden för mobil inte är synlig för större skärmar */
  display: none;
}
}


/* MOBIL och IPADANPASSAT */
@media (max-width: 759px)
{

/* BODY och HTML MOBIL */
html {
  width: 100%;
}

body {
  min-width: 350px; /* En minsta bredd för att hålla sidan snygg och proportionerlig */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
}

#dorr_webb {
  display: none; /* Gör så att bilden på dörren för större skärmar, inte syns på mobilversionen */
}

/* SAMLAD TYPOGRAFI */
#titlar { /* ID för jobbtitlar, kontaktsida */
  font-size: 5vw;
}

#namntitel { /* ID för våra namn på Om oss-sidan */
  font-size: 4vw;
}

.info p { /* Class för infotexten i footer */
  grid-area: info;
  font-size: 2vw;
}

h1 { /* Huvudrubriker */
  color: white;
  font-family: "bmx-radical", sans-serif;
  font-style: normal;
  font-size: 15vw;
  margin: 2%;
  margin-top: 5%;
}

h2 { /* Underrubriker */
  color: #bfa36f;
  font-family: "carta-marina", sans-serif;
  font-size: 7vw;
  margin: 3vw;
}

h3 { /* Underrubriker eller undertext till första underrubriker */
  color: #912b28;
  font-family: "carta-marina", sans-serif;
  font-size: 4vw;
}

#merch_underrubrik { /* ID för andra underrubrik på merchsidan */
  font-size: 4vw;
  padding-left: 5%;
  padding-right: 5%;
}

h4 { /* Mindre underrubriker, bl.a på march-sidan och kontakt-sidan */
  color:#E5C53F;
  font-family: "carta-marina", sans-serif;
  font-size: 3vw;
  margin-top: 2vh;
}

p { /* Athelas typsnitt, vanlig brödtext */
  text-align: left;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 4vw;
  color: white;
  }


#underrubriker { /* ID för resterande underrubriker på slottsidan */
  font-size: 5vw;
  margin-top: 5vh;
}

#rubrik13 { /* ID för rubriken till texten om Rum 13, slottsidan */
  font-size: 5vw;
  margin-bottom: 5%;
  margin-left: 2vw;
}

#filmtitel { /* Beiga underrubriker på filmsidan */
  font-size: 5vw;
}

#rad2 { /* ID för den gula raden på indexsidan, för premiärdatum */
  font-size: 6vw;
}


/* Övergripande container för indexsidan */
.index {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

/* Övergripande container för resterande sidor 2-5 */
.restsidor {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
}


/* GEMENSAM NAVIGATION */
.nav {
  display: none;
  border-radius: 5px;
}

.nav ul {
  display: inline;
  text-align: left;
}

.nav li {
  padding-bottom: 3vh;
  padding-top: 3vh;
}

.nav ul li a {
  font-size: 6vw;
}

.hamburger { /* Hamburgermeny för nav */
  display: block;
  font-size: 5vw;
  cursor: pointer;
  font-family: "carta-marina", sans-serif;
  font-size: 7vw;
  background-color: #5c1c1b;
  color: white;
  text-align: left;
  margin-bottom: 2%;
  border-radius: 5px;
  max-height: 10vh;
}

.hamburger:hover { /* Hoover-effekt */
  color: #bfa36f;
}

/* GEMENSAM HEADER */
.header {
  grid-area: header;
}

/* GEMENSAM FOOTER MOBIL */
.footer {
  height: 20vh;
}

.ikoner { /* Div för facebbok, instagram, mail */
  margin-left: 3vw;
}

.ikoner img { /* Själva bildikonerna */
  padding: 2vw;
  width: 6vw;
}

.logga img { /* Bilden på loggan */
  width: 8vw;
  padding-left: 2vw;
}

.fragor ul { /* Stycke om frågor, som FAQ */
  padding-left: 3vw;
  margin-right: 2vw;
}

.info ul { /* Stycke med kontaktinformation */
  font-size: 2vw;
  padding-left: 0;
}

/* Innehållscontainer för startsidan, ink. bakgrundsbild */
.container1 {
  display: grid;
  width: 100%;
  height: 100%;
  margin-bottom: -10vh;
  margin-top: 5vh;
  position: relative;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'main main';
}

.bakgrundsdorr_mobil img { /* Bakgrundsbilden för container1 */
  grid-area: main;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
}

/* Innehålls-container till Om filmen-sidan */
.container2 {
  display: grid;
  width: 100%;
  margin: auto;
  border-radius: 7px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'header'
  'filmtext'
  'filmfakta'
  'filmbild1'
  'medverkande'
  'filmbild2'
}

.header {
  grid-area: header;
}

.filmtext { /* Första stycket, beskrivande text om filmen  */
  grid-area: filmtext;
}

.filmfakta { /* Lista på fakta om filmen */
  grid-area: filmfakta;
  margin: 2vw;
  margin-top: -4vh;
}

.filmfakta ul {
  display: block;
  margin-bottom: 5vh;
  margin: 5vw;
}

.filmfakta li {
  padding: 5%;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 4vw;
  color: white;
}


.filmbild1 { /* Första bild på filmsidan */
  grid-area: filmbild1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.filmbild1 img {
  width: 65vw;
  margin-left: 2vw;
}

.filmbild2 { /* Andra bild på filmsidan */
  grid-area: filmbild2;
  margin-bottom: 5vh;
  margin-top: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filmbild2 img {
  width: 65vw;
  margin-left: 3vw;
}

 .medverkande { /* Lista på skådespelare i filmen */
  grid-area: medverkande;
  margin-right: 1vw;
  margin-top: 0;
 }

 .medverkande ul {
  display: block;
  margin: 5vw;
 }

 .medverkande li {
  padding: 5%;
  font-family: "athelas", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 1000;
  font-size: 4vw;
  color: white;
 }

/* Innehålls-container för Slottsidan */
  .container3 {
    display: grid;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'header header'
    'underrubrik1 underrubrik1'
    'axel1 axel1'
    'slottbild slottbild'
    'axel2 axel2'
    'hedvig hedvig'
    'brand1 brand1'
    'brand2 brand2'
    'eldbild eldbild'
    'charles charles'
    'emilie emilie'
    'underrubrik2 underrubrik2'
    'cajsa cajsa'
    'sjobild sjobild'
    'rum13 rum13'
  }

  .header {
    grid-area: header;
  }

  .underrubrik1 { /* Första underrubrik på slottsidan */
    grid-area: underrubrik1;
  }

  .axel1 { /* Div om Axel den äldre */
    grid-area: axel1;
  }

  .slottbild { /* Div för bild på slottet */
    grid-area: slottbild;
  }

  .slottbild img { /* Själva bilden på slottet */
    width: 80vw;
  }

  .axel2 { /* Div om Axel den yngre */
    grid-area: axel2;
  }

  .hedvig { /* Div om Hedvig */
    grid-area: hedvig;
  }

  .brand1 { /* Div om branden */
    grid-area: brand1;
  }

  .eldbild { /* Div för bild på tjej och en låga */
    grid-area: eldbild;
    margin-top: 5vh;
  }

  .eldbild img { /* Själva bilden på tjejen och en lågan */
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
  }

  .brand2 { /* Div om branden */
    grid-area: brand2;
  }

  .charles { /* Div om Charles */
    grid-area: charles;
  }

  .emilie { /* Div om Emilie */
    grid-area: emilie;
  }

  .underrubrik2 { /* Andra beige underrubrik, spöken på slottet */
    grid-area: underrubrik2;
    display: inline;
  }

  .cajsa { /* Div om Cajsa */
    grid-area: cajsa;
  }

  .sjobild { /* Div för sista bild, bild på sjön */
    grid-area: sjobild;
  }

  .sjobild img { /* Själva bilden på sjön */
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .rum13 { /* Div om Rum 13 */
    grid-area: rum13;
    margin-left: 2vw;
  }


/* Merchsidan */
.container4 { /* Innehållscontainer för merch-sidan */
  display: grid;
  width: 100%;
  height: fit-content;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto;
  grid-template-areas: 
  'header'
  'bild1' 
  'bild2'
  'bild3'
  'bild4'
}

/* Grid-areas på Merch-sidan */
.bild1 { /* Div för hoodie */
  grid-area: bild1;
  margin-bottom: 12vh;
}

.bild2 { /* Div för mugg */
  grid-area: bild2;
  margin-bottom: 12vh;
}

.bild3 { /* Div för keps */
  grid-area: bild3;
  margin-bottom: 12vh;
}

.bild4 { /* Div för totebag */
  grid-area: bild4;
  margin-bottom: 12vh;
}

/* Merch-bilder */
.bild1 img { /* Hoodie */
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.bild2 img { /* Mugg */
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.bild3 img { /* Keps */
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.bild4 img { /* Totebag */
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

/* Stil för köp nu-knappen */
.buyButton {
  font-size: 4vw;
  margin: 2% 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Om oss-sidan */
.container5 { /* Innehållscontainer för om oss-sidan */
  display: grid;
  width: 100%;
  padding-bottom: 10%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  grid-template-columns: auto;
  grid-template-areas: 
  'header header'
  'Anna_text Anna_bild'
  'Emma_bild Emma_text'
  'Alexandra_text Alexandra_bild'
}

/* Bilder på oss, på Om oss-sidan */
.Anna_bild img { /* Bild på Anna */
  grid-area: Anna_bild;
  width: 45vw;
}

.Emma_bild img { /* Bild på Emma */
  grid-area: Emma_bild;
  width: 45vw;
  padding-bottom: 6vh;
}

.Alexandra_bild img { /* Bild på Alexandra */
  grid-area: Alexandra_bild;
  width: 45vw;
}

/* Grid-areas på Om oss-sidan */
.Anna_text { /* Text om Anna */
  grid-area: Anna_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Anna_text ul {
  font-size: 3vw;
}

.Emma_text { /* Text om Emma */
  grid-area: Emma_text;
  text-align: center;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Emma_text ul {
  font-size: 3vw;
}

.Alexandra_text { /* Text om Alexandra */
  grid-area: Alexandra_text;
  text-align: center;
  margin-left: 10%;
  border: 1px solid #912b28;
  padding: 5%;
  border-radius: 5px;
}

.Alexandra_text ul {
  font-size: 3vw;
}

.ikoner_kontakt img { /* Bildikoner på facebook, instagram , mail */
  width: 8vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

}